
body{
    font-family: Lato, sans-serif;
}

th, td {
    padding: 5px;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.nav-bar {
    height: 100%;
    width: 125px;
    position: fixed;
    z-index: 1;
    /* top: 0;
    left: 0; */
    overflow-x: hidden;
}

.main {
    margin-left: 125px;
    padding: 0px 10px;
}




/*
p{margin:0 10px 10px}
a{padding:5px; text-decoration:none; color:#000000;}
div#header{background-color:#F3F2ED;}
div#header h1{height:80px;line-height:80px;margin:0;padding-left:10px;}
div#container{text-align:left}
div#content p{line-height:1.4}
div#navigation{background:#F6F0E0;}
div#navigation ul{margin:15px 0; padding:0; list-style-type:none;}
div#navigation li{margin-bottom:5px;}
div#extra{background:#CCC8B3;}
div#footer{background:#BFBD93;}
div#footer p{margin:0;padding:5px 10px}
div#container{width:700px;margin:0 auto}
div#content{float:right;width:500px}
div#navigation{float:left;width:200px}
div#extra{float:left;clear:left;width:200px}
div#footer{clear:both;width:100%}
*/