{% extends './base_djambu.html' %}
{% load admin_urls %}

{% block content %}
  {% include 'patients/panel_add_patient.html' %}
  <table class="table">
    <tr>
      <th>Cognome</th>
      <th>Nome</th>
      <th>Sesso</th>
      <th>Data di nascita</th>
      <th></th>
      <th></th>
    </tr>

    {% for p in patient_list %}
      <tr>
        <td>{{ p.last_name }}</td>
        <td>{{ p.first_name }}</td>
        <td>{{ p.sex|capfirst }}</td>
        <td>{{ p.birth_date|date:'d/m/Y' }}</td>
        <td><a href="{% url 'patients:patient_detail' p.pk %}">vedi</a></td>
        <td><a href="/patients_admin/patients/patient/{{ p.pk }}/change/">modifica</a></td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}