{% extends './base_djambu.html' %}

{% block content %}
  <div class="round-border-panel">
    <div class="round-border-panel">
      <h2>Paziente</h2>
        <table class="table-no-background">
          <tr>
            <td>Cognome</td>
            <td>{{ object.last_name|capfirst }}</td>
          </tr>
          <tr>
            <td>Nome</td>
            <td>{{ object.first_name|capfirst }}</td>
          </tr>
          <tr>
            <td>Sesso</td>
            <td>{{ object.sex|capfirst }}</td>
          </tr>
          <tr>
            <td>Data di nascita</td>
            <td>{{ object.birth_date|date:'d/m/Y' }}</td>
          </tr>
          <tr>
            <td>Codice fiscale</td>
            <td>{{ object.fiscal_code|default:'n.d.' }}</td>
          </tr>
        </table>
     </div>

    {% include 'patients/panel_exemptions.html' %}

    Visite <br>

    Piani terapeutici <br>
  </div>

{% endblock %}

{% comment %} TODO: return from admin to this page {% endcomment %}